@media (max-width: 1210px) {

     .container {
          max-width: 960px;
     }

     .delivery-card {
          flex: 50%;
          max-width: calc(50% - 30px);
     }

     .search-form {
          margin-left: 40px;
          margin-right: 40px;
     }

     .tabs-content {
          flex-wrap: wrap;
     }

     .tabs-card {
          flex: 50%;
          max-width: calc(50% - 30px);
     }

}

@media (max-width: 992px) {

     .container {
          max-width: 760px;
     }

     .slide {
          padding: 70px;
     }

     .delivery-card {
          flex: 50%;
          max-width: calc(50% - 30px);
     }
}

@media (max-width: 768px) {

     .container {
          max-width: 560px;
     }

     .header {
          flex-wrap: wrap;
     }

     .search-form {
          order: 5;
          margin: 15px 0;
     }

     .promo {
          flex-wrap: wrap;
     }

     .tabs-card {
          max-width: 100%;
     }

}

@media (max-width: 590px) {

     .container {
          max-width: 90%;
     }

}